<div class="alert alert-light border shadow-sm d-flex align-items-center flex-column flex-md-row" role="alert">
  <a target="_blank" href="https://www.oreilly.com/library/view/unifying-business-data/9781098144999/" class="mb-4 mb-md-0 me-md-4">
    <img src="${base}/cover.webp" alt="Unifying Business, Data, and Code"
      class="border rounded d-md-none w-100">
    <img src="${base}/cover.webp" alt="Unifying Business, Data, and Code"
      class="border rounded d-none d-md-block" height="300" width="228">
  </a>
  <div class="flex-grow-1">
    <h2 class="alert-heading h4">Unifying Business, Data, and Code</h2>
    <p>If you enjoy my content, check out my book (<a target="_blank" href="https://www.oreilly.com/library/view/unifying-business-data/9781098144999/">Unifying Business, Data, and Code</a>) that covers, for the first time in print, topics like:</p>
    <ul>
      <li>Writing your own JSON Schema vocabularies</li>
      <li>Understanding JSON Schema annotations</li>
      <li>Hosting your own JSON Schema registries</li>
    </ul>
    <p>More importantly, our book teaches you a methodology for effective data management that will transform how you think about data.</p>

    <p class="mb-0">Read it online on <a target="_blank" href="https://www.oreilly.com/library/view/unifying-business-data/9781098144999/">O'Reilly</a>, or buy it from <a target="_blank" href="https://www.amazon.com/_/dp/1098145003">Amazon</a> and <a target="_blank" href="https://www.ebooks.com/en-bo/book/211208251/unifying-business-data-and-code/ron-itelman/">eBooks.com</a>.</p>
  </div>
</div>
