<nav class="navbar navbar-expand-lg bg-dark mb-4 mb-lg-5" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand flex-grow-1" href="${base}/index.html">home</a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" title="Book" href="https://www.oreilly.com/library/view/unifying-business-data/9781098144999/" target="_blank">book</a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" title="Email" href="mailto:jv@jviotti.com">email</a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" title="GitHub" rel="noopener" href="https://github.com/jviotti" target="_blank">github</a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" title="LinkedIn" rel="noopener" href="https://www.linkedin.com/in/jviotti/" target="_blank">linkedin</a>
      </li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" title="PGP" rel="noopener" href="jviotti.gpg.pub.asc" target="_blank">pgp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="RSS Feed" href="${base}/feed.xml">rss</a>
      </li>
    </ul>
  </div>
</nav>
