<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="date" content='${date-meta}'>
    <title>${title}</title>
    <meta name="description" content="${description}">
    <meta name="author" content="Juan Cruz Viotti">

    <meta property="og:title" content="${title}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="${description}">
    <meta property="og:url" content="https://www.jviotti.com/${url}">
    <meta property="og:site_name" content="Juan Cruz Viotti">
    <meta property="og:locale" content="en_US">
    <meta property="og:article:published_time" content="${date-meta}">
    <meta name="image" property="og:image" content="https://www.jviotti.com/images/${image}">

    <link rel="stylesheet" href="../../../style.min.css" type="text/css">
    <link rel="icon" href="../../../favicon.ico" sizes="any">
    <link rel="icon" href="../../../icon.svg" type="image/svg+xml">
    <link rel="manifest" href="../../../manifest.webmanifest">
    <link rel="alternate" type="application/rss+xml" href="../../../feed.xml" title="RSS Feed">
  </head>
  <body>
    {{NAVIGATION}}

    <main class="container">
      <article>
        <header>
          <h1 class="fw-bold">${title}</h1>
          <time class="text-secondary" datetime="${date-meta}">${date}</time>
          <hr>

          <blockquote>
            <p>TL;DR: ${description}</p>
          </blockquote>
        </header>

        <div id="toc">${toc}</div>

        ${body}
      </article>

      <footer class="my-5">
        <hr>
        {{BOOK}}
        <hr>
        <p>Did you learn something new from this post? <a href="https://ko-fi.com/jviotti">Buy me a coffee</a> and let's stay in touch on <a href="https://www.linkedin.com/in/jviotti/">LinkedIn</a>!</p>
        <p>I'm also available for consulting on topics including C++, CMake, macOS, JSON Schema, software architecture, and data. Don't hesitate in <a href="mailto:jv@jviotti.com">reaching out</a> to discuss further.</p>
      </footer>
    </main>
  </body>
</html>
